---
layout: articles
heading: 'Your awesome heading'
subheading: 'Your awesome subheading'
banner: 'default'
---

<div class="post">
  <section>
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-content e-content" itemprop="articleBody">
        <h2 id="自修祭" style="margin-top: 10px">自修祭とは</h2>
        <p>「自修祭」とは毎年10月に開催される、自修館の文化祭です。<br>コロナ禍で制限はありますが、形を変えながら年々進化しています。</p>
        <p>以前は「探究文化発表会・自修祭」という名前でしたが、去年から「自修祭」に変更されました。</p>
        <p>名前が変わったとはいえ、探究発表はなくなっていません！<br>前期生は文化祭の傍ら、教室やステージで普段、自分が調べている探究テーマのプレゼン発表をしています。<br><a href="/2022/about/" style="color: #8E8E8E;">続きを読む...</a></p>
      </div>
    </article>
  </section>
</div>

<hr style="margin-top: 20px;margin-bottom: 20px;">

{{ content }}
